# Node modules
node_modules/

# Next.js build
.next/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.vscode/

# ==============================
# Fichiers générés / caches
# ==============================
.next/
.next/cache/
node_modules/
dist/
out/
*.log
*.gz               # les .pack.gz sont du cache webpack
